/* --------- Destop mode -------- */
@media only screen and (min-width:900px) {
    body{
        margin: 120px 200px;
    }
    /* User Pic */
    img{
        border: 2px solid black;
        border-radius: 20px;
        margin: 30px;
        width: 200px; 
        height: 200px;
    }
    /* Section styles */
    #section1{
        height: 270px;
    }
    #section2{
        height: 900px;
    }
    /* Sub Section styles */
    #subsection12{
        background-color: #7cdbdb;
        text-align: justify;
        padding: 20px;
        margin: 60px 30px;
        width: 750px;
    }
    #subsection21{
        margin: 30px; 
        float: left; 
        line-height: 1.6;
    }
    #subsection22{
        float: left;
        width: 750px;
        margin: 10px 0px 30px 80px;
    }
}

/* --------- Laptop mode -------- */
@media only screen and (max-width:800px) {
    body{
        margin: 40px 30px;
    }
    /* User Pic */
    img{
        border: 2px solid black;
        border-radius: 20px;
        margin: 30px 10px 30px 5px;
        width: 170px;
        height: 170px;
    }
    /* Section styles */
    #section1{
        height: 270px;
    }
    #section2{
        height: 900px;
    }
    /* Sub Section styles */
    #subsection12 {
        background-color: #7cdbdb;
        text-align: justify;
        padding: 20px;
        margin: 25px 0px;
        width: 475px;
    }
    #subsection21{
        margin: 20px 10px; 
        float: left; 
        line-height: 1.6;
    }
    #subsection22{
        float: left;
        width: 490px;
        margin: 0px 0px 30px 15px;
    }
}

/* --------- Mpbile mode -------- */
@media only screen and (max-width:600px) {
    html{
        width: 500px;
    }
    body{
        margin: 40px 0px;
    }
    /* User Pic */
    img{
        border: 2px solid black;
        border-radius: 20px;
        margin: 40px 130px 10px 130px;
        width: 250px;
        height: 250px;
    }
    /* Section styles */
    #section1{
        height: 270px;
    }
    /* Sub Section styles */
    #subsection12 {
        background-color: #7cdbdb;
        text-align: justify;
        padding: 20px;
        margin: 25px 0px;
        width: 475px;
    }

    #subsection211, #subsection212{
        float: left;
        width: 190px;
        margin: 20px;
    }
    #subsection22{
        width: 490px;
        margin: 0px 0px 30px 15px;
    }
}


