/* General styles */
body{
    font-family: 'Space Grotesk', sans-serif;
}
h2, h3{
    color:#7ED957;
    text-align: center;
}
body{
    margin: 100px 250px;
}
img{
    width: 300px;
    margin: 20px;
}
.paragraphOne{
    margin: 40px 0px;
    text-align: justify;
    line-height: 1.7;
}
.paragraphTwo{
    line-height: 1.7;
}
#sectionOne{
    float: left;
    width: 60%;
    margin: 50px 30px;
}
.subimage{
    margin-right: 35px;
}
#subimage3{
    width: 250px;
}
button{
    background-color: #7ED957;
    padding: 15px 40px;
    border-radius: 5px;
    margin: 30px 0px 0px 0%;
}
.surveyDiv{
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    margin: 20px 0px;
}
label{
    line-height: 2;
}
input[type="text"]{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 20px 60px 0px 0px;
}
#surveyButton{
    background-color: white;
    padding: 15px 70px;
    border-radius: 25px;
    margin: 0px;
}
/* --------- Desktop mode 1199 & below-------- */
@media only screen and (max-width:1199px) {
    body{
        margin: 100px 50px;
    }
    img{
        width: 300px;
        margin: 50px 0px 0px 0px;
    }
    #sectionOne{
        float: left;
        width: 60%;
        margin: 50px 30px;
    }
    .subimage{
        margin-right: 25px;
    }
}
/* --------- Tablet mode -------- */
@media only screen and (min-width:800px) {
    body{
        margin: 100px 50px;
    }
    img{
        width: 300px;
        margin: 120px 0px 0px 0px;
    }
    #sectionOne{
        float: left;
        width: 40%;
        margin: 50px 30px;
    }
    #imageRow{
        display: none;
    }
}
/* --------- Mobile mode -------- */
@media only screen and (max-width:600px){
    body{
        margin: 50px 20px;
    }
    #sectionOne{
        float: none;
        width: auto;
        margin: 0px 0px;
    }
    img{
        width: 390px;
        margin: 40px 0px;
    }
    button{
        margin: 30px 0px 0px 15%;
    }
    #imageRow{
        display: none;
    }
}

@media only screen and (max-width:400px){
    img{
        width: 290px;
    }
}

